body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#gradient {
    height: 450px;
    width: 800px;
    border: 1px solid black;
    font-size: 20px;
    background: linear-gradient(130deg, #15ff00, #04c4ff, #0012b8);
    background-size: 200% 200%;
    text-align: center;
    margin: auto;
    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
    box-shadow: 8px 8px 8px #04c4ff;
}

@-webkit-keyframes Animation {
    0% {
        background-position: 10% 0%
    }
    50% {
        background-position: 91% 100%
    }
    100% {
        background-position: 10% 0%
    }
}

@-moz-keyframes Animation {
    0% {
        background-position: 10% 0%
    }
    50% {
        background-position: 91% 100%
    }
    100% {
        background-position: 10% 0%
    }
}

@keyframes Animation {
    0% {
        background-position: 10% 0%
    }
    50% {
        background-position: 91% 100%
    }
    100% {
        background-position: 10% 0%
    }
}

img {
    width: 150px;
}